<!DOCTYPE html>
<html>
<head>
  <title>SampleStore</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="conteiner">
    <%= yield %>
    <div id="shopping_cart">
      <ul>
        <% session[:shopping_cart].each do |prod| %>
        <li><%= prod.name %></li>
        <% end if session[:shopping_cart] %>
      </ul>
    </div>
  </div>
</body>
</html>
